@import url('https://fonts.googleapis.com/css2?family=Gelasio:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root{
    
    --background-color: #fff;
    --second-background-color: #000;
    --main-color: #8cd5ff;
    --contrast-color: #D4D2D2;
    --main-font-family: 'Gelasio', serif;

}

body {
      
    background-color: var(--background-color);
    font-family: var(--main-font-family);

}

/* ////// NAV-BAR STYLE /////*/

nav{
   
    position: fixed;
    top: 0;
    z-index: 10;
}

.nav-container{

    display: flex;
    height: 70px;
    width: 100vw;
    background-color: transparent;
    justify-content: space-between;
    align-items: center;
}

.nav-icons {
    width: 100px;
    display: flex;
    margin-right: -1vw;
    justify-content: space-around;
}


nav.scroll-nav{

    background-color: var(--background-color);
    transition: .8s;
} 


.nav-logo{

    width: 3rem;
    height: 3rem;
    margin-left: 1rem;

}

.menu-icon{
    display: block;
}


.menu-mobile{ 
    position: fixed;
    left: calc(50% - 60px);
    top: calc(20% - 64px);
    z-index: 300;
    display: none;

} 

.nav-options{

    text-decoration: none;
    text-align: center;
    color: black;
    display: block;
    font-size: 25px;
    padding-top: 2rem;

}

.nav-main{

   margin-right: 1rem;
   display: flex;
   align-items: center;

}


.logo-container > p{

    margin-left: 1rem;
    font-size: 35px;

}


.nav-logo:hover{
    cursor: pointer;
}

.logo-container > p:hover{
    cursor: pointer;
}

.nav-icons:hover{
    cursor: pointer;
}


.cart{
    position: relative;
    width: 24px;
}


.cart-count{
    
    position: absolute;
    bottom: 0;
    right: -2px;
    background-color: #000;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    font-size: 12px;
    
}



/* ///// FIRST SECTION /////*/

.first-section{
 height: 67vh;
}


.background{
    
    width: 58%;
    height: 70%;
    background-color: var(--main-color);
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}


.background{

    display: flex;
    align-items: center;
    justify-content: center;
}

.background > img{
    
    width: 90%;

}
 
/*///// SECOND SECTION  /////*/

.text-container{

   position: relative;
   margin-top: 5vh;
   height: 225px;
}

h1{
    
    position: absolute;
    margin: 10vw;
    font-weight: 700;
}

h1 + p{

    position: absolute;
    top: 5rem;
    margin: 10vw;
    font-size: 18px;
  
}

.container-price{

   height: 50px;
}

.price-one{

    position: absolute;
    margin-top: 3rem;
    font-size: 20px;
    margin-left: 10vw;
    font-weight: 700;
    color: #43abe7;
}
  
.add-container{

    position: relative;
    height: 150px;
    margin: 5vw;
}


.add-and-discover{
    
    position: absolute;
    margin: 5vw;
   
}

.discover{

   width: 100px;
   height: 50px;
   background-color: rgb(209, 203, 203);
   border: none;
   font-weight: 600;

}

.discover:hover{

   transform: scale(0.9);
   transition: .5s;
   cursor: pointer;

}

.add-cart{

   width: 150px;
   height: 68px;
   background-color: #000;
   border: none;
   font-weight: 600;
   color: #fff;
   padding: 8px;

}

.add-cart:hover{

    transform: scale(1.1);
    transition: .5s;
    cursor: pointer;
    
}

.product-list-position{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
}


.product-container{
    
    height: 200px;
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    margin-top: -5rem;
    padding-top: 80px;
  }

.product-list{

    width: 300px;
    height: 150px;
    position: absolute;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    text-align: center;
    
}

.products{

    font-size: 20px;
    font-weight: 400;    
  
}
 
.line{

    border: 1px solid rgb(160, 158, 158);
    height: 50px;
    position: absolute;
    left: 52%;

}

.line2{

    border: 1px solid rgb(160, 158, 158);
    height: 50px;
    position: relative;
    left: 54%;
    top: 3rem;
}

.line3{
   
    border: 1.5px solid rgb(160, 158, 158);
    width: 220px;
    position: absolute;
    left: 0px;
    bottom: 4.5rem;
}


/*//////// THIRD SECTION STYLE ///////*/

.third-section{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*CARD ONE */

.card-one{

    position: relative;
    display: flex;
    justify-content: center;
    padding-top: 1.5rem;
    width: 300px;
    height: 330px;
    background-color: rgb(248, 242, 242);
    border-radius: 2%;
    box-shadow:  0 5px 15px 0 rgba(0,0,0,0.15);
    margin: 5rem 0;
}

.image-container{
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 200px;
    border: solid 5px rgb(0, 0, 0);
    background-color: var(--main-color);

}

.card-one img{

    width: 160px;
    height: 160px;
    
}

.description-product{
    
    height: 80px;
    width: 300px;
    border-top: 1px solid rgb(224, 206, 206);
    background-color: var(--background-color);
    border-radius: 2%;

    position: absolute;
    bottom: 0;
    padding-top: 1rem;
}

.position-description{
     
    position: relative;
    margin-left: 1.5rem;

}


.line-p2{
     
    height: 20px;
    border-left: 2px solid rgb(224, 206, 206);
    position: absolute;
    top: 0;
    left: 25%;

}

.add-product-botton{
    
    width: 35px;
    height:35px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: -15px;
    left: 80%;
    font-size: 25px;
    text-align: center;
    box-shadow: 0 5px 15px 0 rgba(0,0,0,0.15);
    cursor: pointer;

}

.stock-information{
    
    position: absolute;
    top: 0;
    left: 30%;

}


/* FOOTER */

footer{
    margin-top: 7rem;
    padding-top: 3rem;
    background-color: rgb(248, 242, 242);
    padding-left: 1rem;
    line-height: 1.5;
}

footer h4{
   
    font-size: 18px;
}

.footer-contact-icons{
    
    width: 208px;
    display: flex;
    justify-content: space-around;
    padding-bottom: 3rem;

}

/* MENU STYLE */

.menu-overlay {
    width: 100vw;
    min-height: 100vh;
    background-color: var(--background-color);
    position: fixed;
    left: 0;
    top: 0;
    display: none;
    z-index: 150;
}


.menu-overlay.Show{
    display: block;
}

.menu-mobile.show{
     display:block
}

.menu-overlay > img{
    position: absolute;
    top: 1rem;
    right: 0.5rem;
}

/* STYLE SHOPPING CART */

.shopping-cart-overlay{

    width: 100vw;
    min-height: 100vh;
    background-color: var(--background-color);
    position: fixed;
    left: 0;
    top: 0;
    display: none; 
    z-index: 100;
   
}

.empty-state img{

    width: 300px;
    margin-left: calc( 50% - 150px);
    margin-top: calc( 50% - 75px)
}

h5{
  font-size: 30px;
  font-weight: 400;
  text-align: center;
  margin-top: 7rem;
}

h5 + h5{
  
   margin-top: 50vh;

}

.selected-products-list > img{

    position: absolute;
    top: 1rem;
    right: 0.5rem;
}


 .empty-state  > p{
   position: relative;
   text-align: center;
   margin-top: 1vh;
   font-size: 16px;
   font-family: var(--main-font-family);
   margin-right: 2rem; 
   margin-left: 2rem;
}

.shopping-cart-overlay.show{
    display: block;
    
}

/* Cart products style */

.shopping-cart-overlay{
   overflow-y : scroll; 

}


.cart-item {
    
    margin-left: 13%;
    padding-top: 2rem;

}
.cart-item img{
    width: 40%;
    border: 2px solid rgb(0, 0, 0);
    background-color: var(--main-color);
    
}

.cart-item p{
    font-size: 20px;
    padding-top: 0.5rem;
}

.cart-price p{
    font-size: 20px;
    margin-left: 13%; 
    padding-top: 2rem;
}

.cart-price > button{
    width: 150px;
    height: 50px;
    margin-left: 13%;
    margin-top: 2rem;
    border: none;
    background-color: black;
    color: white;
    font-size: 13px;
    
}

.cart-price > button:hover{
  cursor: pointer;
  transform: scale(1.1);
  transition: .8s;
  
}

.shopping-cart-overlay{
    border-left: 1px solid black;
    overflow-y: scroll;
}



/* /////  RESPONSIVE SECTION ///////*/

@media(min-width: 300px){

    
    h1 + p {
        top: 6rem;
    }

    .price-one {
        margin-top: 7rem;
    }

    .add-container {
        margin-top: 7rem;
        margin-left: -3px;
    
    }

    .line3 {
  
       margin-left: 1rem;
    }


}


@media(min-width: 600px){

    .menu-mobile{

        z-index: 100;
        display: block;
        top: -0.5rem;
        left: 15rem;
      }

    .menu-icon{
        display: none;
    }
    
    .nav-options{
        
       display: inline-block;
       text-decoration: none;
       color: black;
       font-size: 20px;
       padding-right: 2rem;
    }

    .home{

        margin-right: 2vw;
        margin-left: 2vw;
    }

    .background{
       
       width: 55%;
       height: 65%;
      
    } 
      
    .text-container{
      
        margin-top: 0;
      
    }
      
    .background > img{
       
       width: 60%;
      
    }
      
    h1{
        margin-left: 10vw;
        margin-top: 3.5rem;
        font-size: 25px;
    }
      
    h1 + p{
          
        top: 5rem;
        font-size: 18px;
      
    }
      
    footer{
      
        padding-left: 3rem;
    }
       
    /* CAR STYLE */

    .shopping-cart-overlay {
        width: 50%;
        left: 50%;
    }
       

} 

@media(min-width: 700px){

    h1 + p{
       
        top: 3rem;
       
    }

    .price-one{
        margin-top: 1.5rem;
        font-size: 25px;
    }

    .add-container{

        margin-left: 2rem;
        margin-top: 1rem;
    }

}



@media(min-width: 800px){


    .background{
    
        width: 40%;
        right: 5vw;
     
    }

    .first-section{
        height: 10vh;
    }
   
    h1{
       
        max-width: 20rem;
    
    }

    h1 + p {
        max-width: 23rem;
    }

    .price-one {
        margin-top: 5vh;
    }


    .background{
    
        height: 40rem;

    }

    .text-container {
        margin-bottom: 3rem;
    }

    h1 + p {
        top: 5rem;
      }

    .product-container {
        margin-top: 7rem;
        height: 80px;
    }


    .product-list{
        
        display: grid;
        grid-template-columns:  repeat( 4, 1fr );
        grid-template-rows: 1fr;
    
    }
     
    .product-list {
        width: 650px;
        height: 60px;
    }

    .desk-position{

        grid-column: 3/4;
        grid-row: 1;

    } 

    .desk-position2{
        grid-column: 4/5;
        grid-row: 1;
    }


    .line{

        left: 50%;
    
    }
    

    .line2{

        left: 55%;
        top: -3rem;
    }

    .line4{


        border: 1px solid rgb(160, 158, 158);
        height: 50px;
        position: absolute;
        left: 75%;

    }

    .line3{
       
        width: 300px;
        bottom: -0.5rem;
    }

    .footer-container{

        display: flex;
        justify-content: space-around;
    }

    .add-container {
        margin-left: 0
    }

}



@media(min-width: 1000px){

    .shopping-cart-overlay {
        width: 30%;
        left: 70%;
    }

    .cart-item img {
        width: 30%;
    }


    .products-list{
        width: 100%;
        display: flex;
        flex-direction: row;  
        justify-content: space-evenly;
        margin-top: 5rem;
    } 

    

    h1{
       
        max-width: 29rem;
        font-size: 35px;
    
    }

    h1 + p {
        top: 8vh;
        max-width: 27rem;
        margin-left: 10vw;
        margin-top: 7rem;

    }
      

    .third-card{

        margin-top: 0;
    }

    .footer-container{

        display: flex;
        justify-content: space-around;
    }

    footer{
        margin-top: 7rem;
        padding-top: 3rem;
        background-color: rgb(248, 242, 242);
        padding-left: 1rem;
        line-height: 1.5;
    }
    
    footer h4{
       
        font-size: 22px;
    }
    
    .footer-contact-icons{
        
        width: 250px;
        height: 80px;
        padding-bottom: 3rem;
    }

    .footer-section > p{
        font-size: 16px;
    }
    
    .add-container {
        margin-left: 5vw;
    }

}

@media(min-width: 1500px){
    
    h1{
       
        max-width: 45rem;
        font-size: 40px;
    
    }

    h1 + p {

        max-width: 40%;
        margin-left: 10vw;
        font-size: 19px;

    }

    .price-one{

        font-size: 35px;
       
    }

    .background{
    
        
        height: 45rem;
        width: 35%;
    
    }
    
    .product-container {
        
            margin-top: 12rem;
            height: 100px;
        }
    
    

    .add-and-discover{
    
        position: absolute;
        margin: 5vw;
       
    }
    
    .discover{
    
       width: 150px;
       height: 60px;
    
    }

    .add-cart{

        width: 180px;
        height: 80px;

    }
    
    
    .add-and-discover{
        
        position: absolute;
        margin-left: 10vw;
       
    }
     
    .products{

        font-size: 23px;
    }

    /* STYLE CART */

    .cart-item img {
        width: 20%
    }
    
}